# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.bin/
*.obj/
*.vs/

bin/
obj/
vs/

# Thư mục chứa các NuGet package
/packages/

# Thư mục chứa các file build của Visual Studio
/bin/
/obj/

# Các file cấu hình của NuGet, nếu có
/project.assets.json
/project.lock.json

# Các file khác không liên quan
*.user
*.suo
*.userosscache
*.sln.docstates

# Những file tạm thời của Visual Studio
.vs/

# Cấu hình của các IDE khác
.idea/
